
$bright-purple:         #A907B8;
$transparent-purple:    rgba(169,7,184, 0.8);
$background-purple:     #D007E3;

$transparent-black:     rgba(0, 0, 0, 0.4);
$transparent-white:     rgba(255, 255, 255, 0.85);



//heading colors
$dark-purple-heading:       #7C0487;
$dark-purple-heading-hover: #960AA3;

//text colors
$text-on-purple:    #EEE;
$text-on-light:     #444;

$content-max-width: 700px;


.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

* {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: none;
  border: 0px;
  margin: 0px;
  padding: 0px;
}


////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/* NO-HOVER SETTING FOR TOUCHSCREENS */

html.no-hover {
    nav li a i:hover {
        color: $transparent-white;
    }

    nav .main-navigation li:hover {
        color: $transparent-white;
    }

    a:hover {
        color: $dark-purple-heading;
    }

    .output:hover {
        box-shadow: 0px 2px 5px 0px $transparent-black;
        transform: translate(0, 0);
    }

    footer ul li a:hover {
        color: $transparent-white;
    }

    footer a:hover {
        color: $transparent-white;
    }

    .main-navigation li:hover {
        background-color: $transparent-black;
    }
}

/* NO-HOVER SETTING FOR TOUCHSCREENS */
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////



body {
  position: absolute;
  width: 100%;

  margin: 0px 0px 0px 0px;
  padding: 0px;
  font-family: 'Open Sans', 'Droid Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-color: #F8F8F8;
  color: $text-on-light;
  -webkit-font-smoothing: antialiased;
}



#react-root {
  height: 100%;
  min-height: 100%;
}

.main-layout {
  height: 100%;
  min-height: 100%;
}


nav {
  height: 50px;
  position: absolute;
  top: 0px;
  z-index: 9;

  .social-media-icon-links {
    height: 100%;
    margin: 0;
    padding: 0;
    padding-left: 10px;
    float:left;
    z-index: 9;

    li {
      height: 100%;
      float: left;
      list-style-type: none;

        a {
          text-decoration: none;

          i {
            margin: 15px 10px;
            font-size: 1.6em;
            color: $transparent-white;
            z-index: 9;
            font-weight: normal;

            &:hover {
              color: white;
            }
          }
        }
    }
  }

  .menu-icon {
    display: none;
    position: fixed;
    right: 0px;
    background-color: $transparent-black;
    padding: 10px 20px;
    color: white;
    font-size: 2em;
    z-index: 99;

    i {
      cursor: pointer;
    }
  }

  .main-navigation {
    position: fixed;
    right: 0px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    width: auto;
    float: right;
    -webkit-transition: max-height 0.4s;
    -moz-transition: max-height 0.4s;
    -ms-transition: max-height 0.4s;
    -o-transition: max-height 0.4s;
    transition: max-height 0.4s;
    z-index: 8;

    li {
      display: inline-block;
      background-color: $transparent-black;
      padding: 16px 18px;
      text-transform: uppercase;
      font-weight: 600;
      color: $transparent-white;

      &:hover {
        color: white;
      }

    }
  }
}



////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/* General settings */

.content-wrapper {

  h1 {
    color: $bright-purple;
    font-size: 4em;
    margin: 0 0 0 0;
    text-align: center;
    padding-top: 20px;
  }

  h2, h3, h4 {
    text-align: center;
    margin-top: 0;
    padding-top: 10px;
    color: $dark-purple-heading;
  }

  a {
    text-decoration: none;
    color: $dark-purple-heading;

    &:hover {
      color: $dark-purple-heading-hover;
    }
  }

  p {
    padding: 10px 0 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: justify;
    line-height: 1.5em;
  }

  iframe {
    margin: 20px auto 40px;
    display: block;
    border: none;
  }
}

/* General settings end */
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////






////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/* BANNER */

.banner {
  width: 100%;
  height: 100vh;
  position: relative;
  top: 0px;

  background-image: url("/images/peeking-poetkoe-bright.png");
  background-position: bottom;
  background-size: cover;
  background-attachment: fixed;

  transition: height 1s ease;

  .header-logo {
    height: 120px;
    width: 80%;
    max-width: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 7;
    background-image: url("images/poetkoe-white.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  .header-slogan {
    position: absolute;
    width: 80%;
    text-align: center;
    top: 73%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 1.3em;
    font-weight: 600;
    text-shadow: 0px 0px 1px $transparent-black;
  }

  img {
    width: 100%;
  }

}


////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/* COMMON FOR ALL CONTENT COMPONENTS */

.introduction, .soundcloud, .youtube, .instagram, .blog-latest, .facebook {
    padding: 40px 0;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;

    .introduction-text, .soundcloud-text, .youtube-text, .instagram-text, .facebook-text {
        display: inline-block;
        padding: 0 10px;
        width: 100%;
        max-width: 700px;
    }
}



////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/* INTRODUCTION */

.introduction {
    .homepage-pic {
        max-width: 200px;
        max-height: 200px;
        height: auto;
        border-radius: 100%;
    }

    iframe {
        max-width: 560px;
        max-height: 315px;
        width: 100%;
    }
}


////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/* SOUNDCLOUD */

.soundcloud {
  iframe {
    max-width: 400px;
    max-height: 400px;
    margin: 0;
    display: inline-block;
    padding: 10px;
  }
}


////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/* YOUTUBE */

.youtube {
  iframe {
    width: 100%;
    max-width: 400px;
    height: auto;
    min-height: 300px;
    padding: 10px;
    margin: 0;
    display: inline-block;
  }
}




////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/* BLOG */

.blog-latest {

  .blog-latest-text {
    display: inline-block;
    padding: 0 10px;
    margin: 0 auto;
    width: 100%;
    max-width: 350px;

    p {
      text-align: center;
    }
  }

  .latest-posts {
      list-style-type: none;
      margin: 0px auto;
      padding: 0px 20px;
      max-width: 700px;

      .single-blog-post {
          line-height: 1.5rem;
          padding-bottom: 30px;
          margin-top: 20px;
          border-bottom: 1px dotted $background-purple;

          h3 {
              font-style: italic;
          }
          p {
              color: #666;
          }
          .read-more {
              float: left;
          }
          .timestamp {
              float: right;
              color: #666;
              font-style: italic;
          }
      }
  }
}


////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/* FACEBOOK */

.facebook {
  iframe {
    width: 100%;
    max-width: 400px;
    height: auto;
    min-height: 250px;
    padding: 10px;
    margin: 0;
    display: inline-block;
  }
}


////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/* INSTAGRAM */

.instagram {
  .instagram-embed {
    display: inline-block;
    width: 95%;
    max-width: 400px;
    height: 100%;
    margin: 0;
    padding: 10px;
  }
}


////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/* CODING */

.coding {
  padding: 40px 0;
  text-align: center;

  .coding-text {
    display: inline-block;

    p {
      padding: 10px 10px;
      width: 100%;
      max-width: 700px;
      margin: 0 auto;
    }
  }

  .coding-icon {
    color: $transparent-purple;
    font-size: 6em;
    padding: 0 20px;
  }

  h4 {
    margin-top: 20px;
    color: $text-on-light;
  }

  .poetkoe-namegenerator-input {
    display: block;
    max-width: 335px;
    width: 90%;
    margin: auto auto;
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
    background: 0 0;
    border: none;
    border-bottom: 1px dotted rgba(0,0,0,.4);
    padding: 5px 5px;
    border-radius: 0;
    outline: none;
    text-align: center;
    color: $text-on-light;
  }

  .output {
    display: block;
    text-align: center;
    margin: 10px auto;
    width: 95%;
    max-width: 670px;
    line-height: 1.5em;
    border-radius: 5px;
    background-color: $bright-purple;
    background-image: linear-gradient(to right, #DA57E6, $transparent-purple);
    color: $text-on-purple;
    cursor: pointer;
    box-shadow: 0px 2px 5px 0px $transparent-black;
    &:hover {
      transform: translate(0, -5px);
      box-shadow: 0px 7px 10px 0px $transparent-black;
    }
  }

  .hint {
    text-align: center;
    color: #999;
    font-weight: 300;
  }
}







////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/* FOOTER */

footer {
  background-color: $background-purple;
  background-image: linear-gradient(to right, #DA57E6, $bright-purple);
  width: 100%;
  height: auto;
  min-height: 100px;
  clear: both;
  font-weight: 300;

  .footer-links {
    float: left;
    height: auto;
    width: auto;

    ul {
      margin: 33px 0 0 30px;
      display: block;
      padding: 0;

      li {
        list-style-type: none;
        float: left;
        padding: 0 10px;

        a {
          text-decoration: none;
          color: $transparent-white;
          font-size: 2em;

          &:hover {
            color: white;
          }
        }
      }
    }
  }

  .copyright-and-contact {
    width: 200px;
    margin-top: 33px;
    margin-right: 30px;
    color: $transparent-white;
    float: right;
    font-weight: 500;

    a {
      text-decoration: none;
      color: $transparent-white;

      &:hover {
        color: white;
      }
    }
  }

}
/* FOOTER */
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////




////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/* FILLER IMAGES */

.filler-image {
    height: 500px;
    width: 100vw;
    background-size: cover;
    background-position: top;
    background-size: cover;
    position: relative;

    .quote-container {
        color: white;
        font-size: 1.6rem;
        font-style: italic;
        text-shadow: 2px 2px 2px #666;
        width: 75%;
        text-align: center;
        margin: 0 auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -38%);

        .quote {

        }

        .quoted-person {
            float: right;
            font-weight: bold;
        }
    }
}
.gig-poetkoe {
    background-image: url("images/fillers/gig-poetkoe.png");
}
.hat-glasses {
    background-image: url("images/fillers/hatglasses.png");
}
.musa-corner {
    background-image: url("images/fillers/musacorner.png");
}
.muumi {
    background-image: url("images/fillers/muumi.png");
}
.statue {
    background-image: url("/images/fillers/statue.png");
}
.teddy {
    background-image: url("images/fillers/teddy.png");
}

/* FILLER IMAGES */
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////





////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/* Media queries */

@media screen and (max-width: 800px) {

  nav {
    .menu-icon {
      display: block;
    }

    .main-navigation {
      width: 100%;
      max-height: 0px;
      position: relative;
      z-index: 10;
      position: fixed;
      top: 57px;

      li {
        width: 100%;
        text-align: right;
        padding: 16px 20px;
        color: $transparent-white;
        font-weight: 700;
        text-transform: uppercase;
        border-bottom: 1px solid rgba(255, 255, 255, 0.7);
        background-color: $transparent-black;

        &:hover {
          background-color: rgba(0, 0, 0, 0.6);
        }
      }
    }

    .main-navigation-showing {
      max-height: 30em;
    }
  }

  .banner {
      background-image: url("images/tablet/peeking-poetkoe-bright-tablet.png");
  }

  .header-logo {
    background-image: url("images/tablet/poetkoe-white-tablet.png");
  }

  .content-wrapper {
    .introduction, .youtube, .soundcloud, .instagram, .blog-latest, .facebook, .coding {
      display: block;
      text-align: center;
      .homepage-pic {
          margin-bottom: 20px;
      }

    }
  }

  .coding .output {
    margin: 10px auto;
  }

  .filler-image {
      height: 400px;
      width: 100vw;
      background-size: cover;
      background-position: top;
      background-size: cover;
  }
  .gig-poetkoe {
      background-image: url("images/tablet/gig-poetkoe-tablet.png");
  }
  .hat-glasses {
      background-image: url("images/tablet/hatglasses-tablet.png");
  }
  .musa-corner {
      background-image: url("images/tablet/musacorner-tablet.png");
  }
  .muumi {
      background-image: url("images/tablet/muumi-tablet.png");
  }
  .statue {
      background-image: url("/images/tablet/statue-tablet.png");
  }
  .teddy {
      background-image: url("images/tablet/teddy-tablet.png");
  }



  footer {
    .footer-links {
      text-align: center;
      float: none;

      ul {
        display: inline-block;
        width: auto;
        padding: 30px 0 20px;
        margin: 0;
      }
    }

    .copyright-and-contact {
      width: 100%;
      text-align: center;
      margin: 10px 0;
      padding-bottom: 20px;
      color: white;
      float: left;
    }
  }


}


@media screen and (max-width: 500px) {

    .banner {
        background-image: url("images/mobile/peeking-poetkoe-bright-mobile.png");
    }

    .header-logo {
        background-image: url("images/mobile/poetkoe-white-small.png");
    }

    .filler-image {
        height: 300px;
        width: 100vw;
        background-size: cover;
        background-position: top;
        background-size: cover;

        .quote-container {
            font-size: 1.4rem;
        }
    }
    .gig-poetkoe {
        background-image: url("images/mobile/gig-poetkoe-mobile.png");
    }
    .hat-glasses {
        background-image: url("images/mobile/hatglasses-mobile.png");
    }
    .musa-corner {
        background-image: url("images/mobile/musacorner-mobile.png");
    }
    .muumi {
        background-image: url("images/mobile/muumi-mobile.png");
    }
    .statue {
        background-image: url("/images/mobile/statue-mobile.png");
    }
    .teddy {
        background-image: url("images/mobile/teddy-mobile.png");
    }

}



////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/* LOADING SPINNER */


.spinner {
    z-index: 100;
    position: absolute;
    height: 40px;
    width: 40px;
    top: 25vh;
    left: 0;
    right: 0;
    margin: auto;


    border: 3px solid rgba(255, 255, 255, 0.7);
    border-top: 3px solid $bright-purple;
    border-radius: 100%;

    animation: 1s spinner infinite linear;
}

.spinner.hidden {
    display: none;
}

@keyframes spinner {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
