/*
* {
  font-family: sans-serif;
}
*/
html, body, #react-root, .main-layout {
  height: 100%;
  font-family: sans-serif;
  margin: 0 0 0 0;
}

/*
body {
  margin: 0 0 0 0;
  height: auto;
  min-height: 100%;

  background-image: url("images/teddy.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  background-color: #E3FBFC;
}
*/


.main-layout {
  height: auto;
  min-height: 100%;
  position: relative;
  background-image: url("images/teddy.jpg");
  background-size: 100% auto;
  width: auto;
  min-width: 1000px;

}



header {
  /*background-color: black;*/
  background-color: rgba(0, 0, 0, 0.6);
  /*opacity: .6;*/
  color: white;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
}

header nav {
  height: 100%;
  position: relative;
}


header nav div {
  float: left;
  height: 100%;
  width: 60px;
  text-align: center;
  position: relative;
  pointer-events: none;
}


header nav div a {
  text-decoration: none;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  pointer-events: auto;
}

header nav div:hover {
  background-color: #666;
}


header nav img {
  height: 40px;
  width: auto;
  position: absolute;
  top: 10px;
  right: 70px;
}

main {
  overflow: scroll;

}

.blog-content-wrapper {
  padding: 30px 30px 100px 30px;
  width: 800px;
  margin: 30px auto 130px;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.7);
  max-height: 30em;
  overflow: scroll;
}

.music-content-wrapper {
  padding: 30px 30px 100px 30px;
  width: 800px;
  margin: 30px auto 130px;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.7);
  max-height: 30em;
  overflow: scroll;
}

h1 {
  color: #555;
  font-size: 4em;
  margin: 0 0 0 0;
}

.blog-content-wrapper ul li {
  background-color: yellow;
  margin: 2em 1em 2em 1em;
}



footer {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100px;
  margin-top: -100px;
  position: absolute;
  bottom: 0;
  left: 0;
  /*z-index: 10;*/
  clear: both;
}

footer ul {
  margin: 12px 0;
}

footer ul li {
  list-style-type: none;
}

footer ul li a {
  text-decoration: none;
  color: white;
}

footer ul li a:hover {
  color: #AAA;
}
