/*$bright-orange:     #FC8C3F;*/
//$bright-orange:     #FC7B23;
//$bright-orange:       #FE611A;
$bright-orange:       #A907B8;
$transparent-orange:  rgba(169,7,184, 0.8);
//$transparent-orange:  rgba(254,97,26, 0.8);
$light-orange:        #FFBA7D;
$transparent-black:   rgba(0, 0, 0, 0.4);
$transparent-white:   rgba(255, 255, 255, 0.85);
$nav-highlight:       rgba(120, 120, 120, 0.6);

$content-max-width: 700px;


.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

* {
  box-sizing: border-box;
  //-webkit-font-smoothing: antialiased;
}

html {
  -webkit-text-size-adjust: none;
  border: 0px;
  margin: 0px;
  padding: 0px;
}

body {
  position: absolute;
  width: 100%;

  margin: 0px 0px 0px 0px;
  padding: 0px;
  font-family: 'Open Sans', 'Droid Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-color: honeydew;
}



#react-root {
  height: 100%;
  min-height: 100%;
}


.main-layout {
  height: 100%;
  min-height: 100%;
}


nav {
  height: 50px;
  position: absolute;
  top: 0px;
  z-index: 9;

  .social-media-icon-links {
    height: 100%;
    //width: auto;
    margin: 0;
    padding: 0;
    padding-left: 10px;
    float:left;
    //background-color: yellow;
    z-index: 9;

    li {
      height: 100%;
      float: left;
      list-style-type: none;

        a {
          text-decoration: none;

          i {
            margin: 15px 10px;
            font-size: 1.6em;
            color: $transparent-white;
            z-index: 9;
            font-weight: normal;

            &:hover {
              color: white;
            }
          }
        }
    }
  }

  .menu-icon {
    display: none;
    position: fixed;
    right: 0px;
    background-color: $transparent-black;
    padding: 10px 20px;
    color: white;
    font-size: 2em;
    z-index: 99;

    i {
      cursor: pointer;
    }
  }

  .main-navigation {
    position: fixed;
    right: 0px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    width: auto;
    float: right;
    -webkit-transition: max-height 0.4s;
    -moz-transition: max-height 0.4s;
    -ms-transition: max-height 0.4s;
    -o-transition: max-height 0.4s;
    transition: max-height 0.4s;
    -webkit-font-smoothing: antialiased;
    z-index: 8;

    li {
      display: inline-block;
      background-color: $transparent-black;
      padding: 16px 18px;
      text-transform: uppercase;
      font-weight: 600;
      color: $transparent-white;

      &:hover {
        color: white;
      }

    }
  }
}






main {
  height: auto;
  /*min-height: 100%;*/
  min-height: auto;
  margin-bottom: 100px;
}


/* Content wrapper that defines the maximum content width */

.content-wrapper {
  height: auto;
  min-height: 100%;
  width: 100%;
  //max-width: $content-max-width;
  margin: 0 auto;






/* General settings */

  h1 {
    //color: #555;
    color: $bright-orange;
    //text-shadow: 1px 1px 1px #999;
    font-size: 4em;
    margin: 0 0 0 0;
    text-align: center;
    padding-top: 20px;
  }

  h2, h3, h4 {
    text-align: center;
    margin-top: 0;
    padding-top: 10px;
    //margin-bottom: 20px;
  }

  a {
    text-decoration: none;
    color: $transparent-orange;

    &:hover {
      color: $bright-orange;
    }
  }

  p {
    padding: 10px 0 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: justify;
    line-height: 1.5em;
  }

  iframe {
    margin: 20px auto 40px;
    display: block;
    border: none;
  }
}

/* General settings end */


  .bio-pic {
    width: 200px;
    height: auto;
    margin: 20px auto 40px;
    display: block;
  }


/* Gearlist */

  #gear-toggle {
    height: 40px;
    width: 80px;
    background-color: $bright-orange;
    margin: 10px 60px 0px;
    border: none;
    border-radius: 4px;

    &:focus {
      outline: none;
    }

    &:hover {
      cursor: pointer;

    }
  }

  #gear {
    margin: -4px 10px 10px;
    padding: 20px 0;
    border-radius: 5px;
    border: 4px solid $bright-orange;
    display: none;
  }

  .gearlist {
    margin-left: 80px;
  }

/* Gear ends */

/* Poetkoe namegenerator */


/* Namegenerator ends */


/* Poetkoesweeper */

  .poetkoesweeper-grid {
    width: 506px;
    height: 506px;
    background-color: #EEE;
    margin: 50px auto;
    border: 3px solid $bright-orange;
    border-radius: 3px;
    display: none;
  }

  .mine {
    width: 50px;
    height: 50px;
    border: 1px solid $light-orange;
    background-color: $bright-orange;
    float: left;
    clear: right;

    img {
      width: 50px;
      height: 50px;
      display: none;
    }
  }

  .exposed-mine {
    width: 50px;
    height: 50px;
    border: 1px solid $light-orange;
    float: left;
    clear: right;

    img {
      height: 50px;
      width: 50px;
      display: block;
    }
  }

  .empty-square {
    width: 50px;
    height: 50px;
    border: 1px solid $light-orange;
    background-color: $bright-orange;
    float: left;
    clear: right;
    text-align: center;

    p {
      display: none;
    }


  }

  .exposed-empty-square {
    width: 50px;
    height: 50px;
    border: 1px solid $light-orange;
    background-color: inherit;
    float: left;
    clear: right;
    text-align: center;

    p {
      display: block;
    }
  }

  .game-info {
    width: 506px;
    height: 506px;
    background-color: #DDD;
    margin: 50px auto;
    border: 3px solid $bright-orange;
    border-radius: 3px;
  }

/* Poetkoesweeper ends */






/* Blog settings */





//Homepage components start

.banner {
  width: 100%;
  height: 100vh;

  //old
  //background-image: url("/images/teddy.jpg");
  //background-size: cover;

  //new
  background-image: url("/images/peeking-poetkoe.png");
  background-position: bottom;
  background-size: cover;
  background-attachment: fixed;

  position: relative;
  top: 0px;

  .header-logo {
    height: 100px;
    width: 80%;
    max-width: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 7;
  }

  .header-slogan {
    position: absolute;
    width: 80%;
    text-align: center;
    top: 73%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 1.3em;
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
    text-shadow: 0px 0px 1px $transparent-black;
  }

  img {
    width: 100%;
  }

}






.introduction {
  padding: 40px 0;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;

  .homepage-pic {
    max-width: 200px;
    max-height: 200px;
    height: auto;
    border-radius: 100%;
  }

  .introduction-text {
    display: inline-block;
    padding: 0 10px;
    width: 100%;
    max-width: 700px;

    h2 {
      text-align: center;
      color: $bright-orange;
    }

    iframe {
      max-width: 560px;
      max-height: 315px;
      width: 100%;
    }

    p {
      /*position: absolute;
      top: 50%;
      transform: translate(0, -50%);*/

    }
  }

}


.soundcloud {
  width: 100%;
  background-color: $bright-orange;
  //background-image: url("/images/yellow-texture.png");
  background-size: cover;
  padding: 40px 0;
  display: flex;
  justify-content: center;

  .soundcloud-text {
    display: inline-block;
    padding: 0 10px;
    width: 100%;
    max-width: 700px;
    -webkit-font-smoothing: antialiased;

    h2 {
      a {
        //color: rgba(255, 255, 255, 0.8);
        color: $transparent-orange;
        &:hover {
          //color: white;
          color: $bright-orange;
        }
      }
    }

    p {
      color: white;

      a {
        //color: rgba(0, 0, 0, 0.7);
        color: $transparent-orange;

        &:hover {
          //color: black;
          color: $bright-orange;
        }
      }
    }
  }

  iframe {
    max-width: 400px;
    max-height: 400px;
    margin: 0;
    display: inline-block;
    padding: 10px;
  }
}


.youtube {
  width: 100%;
  //height: auto;
  //background-color: $bright-orange;
  padding: 40px 0;
  //text-align: center;
  display: flex;
  justify-content: center;

  .youtube-text {
    display: inline-block;
    padding: 0 10px;
    width: 100%;
    max-width: 700px;
    -webkit-font-smoothing: antialiased;

    h2 {
      a {
        color: $transparent-orange;

        &:hover {
          color: $bright-orange;
        }
      }
    }

    p {
      color: black;

      a {
        color: $transparent-orange;

        &:hover {
          color: $bright-orange;
        }
      }
    }
  }

  iframe {
    width: 100%;
    max-width: 400px;
    height: auto;
    min-height: 300px;
    padding: 10px;
    margin: 0;
    display: inline-block;
  }
}

.instagram {
  padding: 40px 0;
  background-color: $bright-orange;
  background-image: url("/images/yellow-texture.png");
  background-size: cover;
  display: flex;
  justify-content: center;

  .instagram-text {
    width: 100%;
    max-width: 700px;
    display: inline-block;
    padding: 0 10px;
    -webkit-font-smoothing: antialiased;

    h2 {
      text-align: center;
      color: $transparent-orange;

      a {
        color: $transparent-orange;

        &:hover {
          color: $bright-orange;
        }

        i {
          font-size: 1em;
          padding: 0;
          color: inherit;
        }
      }
    }

    p {
      color: white;
      a {
        color: $transparent-orange;

        &:hover {
          color: $bright-orange;
        }
      }
    }
  }

  video {
    display: inline-block;
    max-height: 400px;
    max-width: 400px;
    width: 100%;
    height: auto;
    padding: 10px;
  }
}

.blog-latest {
  width: 100%;
  padding: 40px 0;
  //text-align: center;
  display: flex;
  justify-content: center;

  .blog-latest-text {
    display: inline-block;
    padding: 0 10px;
    width: 100%;
    max-width: 300px;
    -webkit-font-smoothing: antialiased;

    h2 {
      a {
        color: $transparent-orange;

        &:hover {
          color: $bright-orange;
        }
      }
    }

    p {
      text-align: center;
    }
  }

  .single-post {
    padding: 10px;
    border: none;
  }

  iframe {
    padding: 10px;
    height: auto;
    font-family: 'Open Sans', 'Droid Sans', sans-serif;
  }
}


.facebook {
  width: 100%;
  background-color: $bright-orange;
  background-image: url("/images/yellow-texture.png");
  background-size: cover;
  padding: 40px 0;
  //text-align: center;
  display: flex;
  justify-content: center;

  .facebook-text {
    display: inline-block;
    padding: 0 10px;
    width: 100%;
    max-width: 700px;
    -webkit-font-smoothing: antialiased;

    h2 {
      a {
        color: $transparent-orange;
        &:hover {
          color: $bright-orange;
        }
      }
    }

    p {
      color: white;
      a {
        color: $transparent-orange;

        &:hover {
          color: $bright-orange;
        }
      }
    }
  }

  iframe {
    width: 100%;
    max-width: 400px;
    height: auto;
    min-height: 250px;
    padding: 10px;
    margin: 0;
    display: inline-block;
  }
}


.coding {
  padding: 40px 0;
  text-align: center;

  .coding-text {
    display: inline-block;

    h2 {
      text-align: center;
      color: $bright-orange;

      a {
        color: $transparent-orange;

        &:hover {
          color: $bright-orange;
        }

        i {
          font-size: 1em;
          padding: 0;
          color: inherit;
        }
      }
    }

    p {
      padding: 10px 10px;
      width: 100%;
      max-width: 700px;
      margin: 0 auto;
    }
  }

  i {
    //color: $bright-orange;
    color: $transparent-orange;
    font-size: 6em;
    padding: 0 20px;
  }

  h4 {
    margin-top: 20px;
  }

  .poetkoe-namegenerator-input {
    display: block;
    max-width: 335px;
    width: 90%;
    margin: auto auto;
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
    background: 0 0;
    border: none;
    border-bottom: 1px dotted rgba(0,0,0,.4);
    padding: 5px 5px;
    border-radius: 0;
    outline: none;
    text-align: center;
  }

  .output {
    display: block;
    text-align: center;
    margin: 10px auto;
    width: auto;
    max-width: 670px;
    min-width: 200px;
    line-height: 1.5em;
    font-weight: 300;
    border-radius: 5px;
    padding-left: 0px;
    padding-right: 0px;
    //background-color: $bright-orange;
    //background-color: $transparent-orange;
    background-image: linear-gradient(to right, #DA57E6, $transparent-orange);
    //background-color: #999;
    //background-image: linear-gradient(to right, #D6C422, #DDC120);
    color: white;
    cursor: pointer;
    box-shadow: 0px 2px 5px 0px $transparent-black;
    &:hover {
      transform: translate(0, -5px);
      box-shadow: 0px 7px 10px 0px $transparent-black;
    }
  }

  .hint {
    text-align: center;
    color: #999;
    font-weight: 300;
  }

}

.banner, .soundcloud, .instagram, .facebook, footer {
  //box-shadow: 0px 0px 9px 0px black;

}

.soundcloud, .instagram, .facebook, footer {
  background-color: honeydew;
  /*
  background-image: linear-gradient(
                      to right,
                      #FEE101, #DDC120
                    );
  */
  background-image: linear-gradient(to right, #DA57E6, $transparent-orange);
}
//rgba(231,187,51, 0.7), rgb(221,187,51)
//#DDC120, rgba(254,97,26, 0.7)

//Homepage components end





//Blog components start

.blog-banner {
  width: 100%;
  height: 300px;
  background-image: url("/images/teddybanner2.png");
  background-size: cover;
  position: relative;
  top: 0px;

  .header-logo {
    height: 100px;
    width: 80%;
    max-width: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -55%);
    z-index: 7;
  }

  .header-slogan {
    position: absolute;
    width: 80%;
    text-align: center;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 1.3em;
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
    text-shadow: 0px 0px 1px $transparent-black;
  }

  img {
    width: 100%;
  }

}

.blog-posts {
  padding-left: 0;
  margin: 0;
}

.single-post {
  width: 100%;
  max-width: $content-max-width;
  margin: 0 auto;
  border-top: 1px dotted #666;
  list-style-type: none;
  padding: 10px 20px 10px;

  h2 {
    padding: 10px 0;
    margin: 0 0 0 0;
    color: $bright-orange;
    font-weight: 300;
    text-align: left;
  }

  a {
    text-decoration: none;
    color: inherit;

    &:hover {
      color: $light-orange;
    }
  }

  p {
    margin: 0;
    padding: 0 0 30px;
  }

  .back {
    color: $bright-orange;

    &:hover {
      color: $light-orange;
      text-decoration: underline;
    }
  }
}

.timestamp {
  display: block;
  text-align: right;
  color: #999;

  &:first-letter {
    text-transform: capitalize;
  }
}

.timestamp-and-signature {
  margin-top: 20px;
  margin-bottom: 30px;
  color: #999;

  &:first-letter {
    text-transform: capitalize;
  }
}

//Blog components end




/* Footer intended to stay at the bottom */

footer {
  //background-color: $bright-orange;
  //background-image: url("/images/yellow-texture.png");
  background-size: cover;
  width: 100%;
  height: auto;
  min-height: 100px;
  margin-top: -100px;
  margin-bottom: 0;
  clear: both;
  font-weight: 300;

  .footer-links {
    float: left;
    height: auto;
    width: auto;

    ul {
      margin: 33px 0 0 30px;
      display: block;
      padding: 0;

      li {
        list-style-type: none;
        float: left;
        padding: 0 10px;

        a {
          text-decoration: none;
          color: $transparent-white;
          font-size: 2em;

          &:hover {
            color: white;
          }
        }
      }
    }
  }

  .copyright-and-contact {
    width: 200px;
    margin-top: 33px;
    margin-right: 30px;
    color: $transparent-white;
    float: right;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;

    a {
      text-decoration: none;
      color: $transparent-white;

      &:hover {
        color: white;
      }
    }
  }

}


@media screen and (max-width: 800px) {

  nav {
    .menu-icon {
      display: block;
    }

    .main-navigation {
      width: 100%;
      max-height: 0px;
      position: relative;
      z-index: 10;
      position: fixed;
      top: 57px;

      li {
        width: 100%;
        text-align: right;
        padding: 16px 20px;
        color: white;
        font-weight: 700;
        text-transform: uppercase;
        border-bottom: 1px solid rgba(255, 255, 255, 0.7);
        background-color: $transparent-black;

        &:hover {
          background-color: rgba(0, 0, 0, 0.6);
        }
      }
    }

    .main-navigation-showing {
      max-height: 30em;
    }
  }

  .content-wrapper {
    .introduction, .youtube, .soundcloud, .instagram, .blog-latest, .facebook, .coding {
      display: block;
      text-align: center;

    }
  }

  .coding .output {
    margin: 10px;
  }


  footer {
    .footer-links {
      text-align: center;
      float: none;

      ul {
        display: inline-block;
        width: auto;
        padding: 30px 0 20px;
        margin: 0;
      }
    }

    .copyright-and-contact {
      width: 100%;
      text-align: center;
      margin: 10px 0;
      padding-bottom: 20px;
      color: white;
      float: left;
    }
  }


}
